section#header{
  background-color: #B8E4F0;
  font-family: 'Sacramento', cursive;
  border-radius: .25rem .25rem 0 0;
}

.h1{
  font-size: 2rem;
}

.h1:hover::after{
  content: " (it's me!)";
  color: #FC997C;
}

.upperCloud{
  display: inline-block;
  position: relative;
  right: 5rem;
  z-index: 1;
  transition: all 2s;
}
.upperCloud.reveal
{
  right: 9rem;
}

.lowerCloud{
  display: inline-block;
  position: relative;
  left: 5rem;
  z-index: 1;
  transition: all 2s;
}
.lowerCloud.reveal
{
  left: 9rem;
}

.secretInstagram{
  display: inline-block;
  position: relative;
  right: 8.25rem;
  bottom: .8rem;
}
.secretTwitter{
  display: inline-block;
  position: relative;
  left: 1.75rem;
  bottom: 1rem;
}